# Python String Methods

# 1 Capitalize()
# Capitalizes the first character of the string.

In [13]:
text = "hello nagpur"
capitalized_text = text.capitalize()
print(capitalized_text)

Hello nagpur

In [87]:
text = "hello ARC"
capitalized_text = text.capitalize()
print(capitalized_text)

Hello arc

# 2 Casefold()

# Converts the string to casefolded string for caseless matching.

In [11]:
text = "hello Nagpur"
casefolded_text = text.casefold()
print(casefolded_text)

hello nagpur

# 3 Center()
# Centers the string within a given width, filling with the specified character

In [16]:
text = "hii"
centered_text = text.center(10, '*')
print(centered_text)

***hii****

# 4 Count()
# Returns the number of occurrences of a substring in the string.

In [23]:
text = "apple"
count = text.count('p')
print(count)

2

# 5 encode()
# Returns an encoded version of the string

In [53]:
text = "My name is Siri"
en_code = text.encode()
print(en_code)

b'My name is Siri'

# 6 endswith()
# Returns True if the string end with specified suffix

In [29]:
text = "Hello Nagpur"
ends_with = text.endswith('Nagpur')
print(ends_with)

True

# 7 find()
# Returns the lowest index of the substring if found, otherwise -1.

In [34]:
text = "hello, wlecome to my world"
index = text .find('welcome')
print(index)

-1

# 8 Split()
# Splits the string into a list where each word is a list item.

In [39]:
text = "Hello India"
split_text = text.split()
print(split_text)

['Hello', 'India']

# 9 upper()
# Converts all cahracters of the string to uppercase.

In [42]:
text = "hello"
upper_text = text.upper()
print(upper_text)

HELLO

# 10 lower()
# Converts all cahracters of the string to lowercase.

In [47]:
text = "hello"
lower_text = text.lower()
print(lower_text)

hello

# 11 isalnum()
# Returns True if all characters in the string are alphanumeric

In [51]:
text = "Company12"

is_alnum = text.isalnum()

print(is_alnum)

True

# 12 isdigit()
# Returns True if all characters in the string are digits

In [57]:
text = "12345678"

is_digit = text.isdigit()

print(is_digit)

True

# 13 isidentifier()
# Returns True if the string is an identifier

In [60]:
a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

# 14 isnumeric()
# Returns True if all characters in the string are numeric

In [63]:
text = "565543"

is_numeric = text.isnumeric()

print(is_numeric)

True

# 15 title()
# converts the first character of each word to uppercase and the rest to lowercase.

In [66]:
text = "hello India"
title_text = text.title()
print(title_text)

Hello India

# 16 join()
# Joins the elements of an iterable with the string as a separator.

In [69]:
text_list = ["Hello", "Nagpur"]
joined_text = " ".join(text_list)
print(joined_text)

Hello Nagpur

# 17 startswith()
# Returns True if the string starts with the specified prefix.

In [72]:
text = "Hello Nagpur"
starts_with = text.startswith('Hello')
print(starts_with)

True

# 18 partition()
# Returns a tuple where the string is parted into three parts

In [75]:
text = "I could not eat bananas all day"

partition_text = text.partition("bananas")

print(partition_text)

('I could not eat ', 'bananas', ' all day')

# 19 translate()
# Returns a translated string

In [82]:
text = "Hello Siya!"
mytable = str.maketrans("S", "R")
print(text.translate(mytable))

Hello Riya!

# 20 Swapcase()
# Swaps cases, lower case becomes upper case and vice versa

In [85]:
text = "Hello My Name Is Roman"

swapcase_text = text.swapcase()

print(swapcase_text)

hELLO mY nAME iS rOMAN